{% extends 'base.html.twig' %}

{% form_theme resetForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('external') }}
{% endblock %}

{% block body %}

    {% include 'reset_password/header.html.twig' %}

    <section id="change-password-section">
        <h2>Reset your password</h2>
        {{ form_start(resetForm) }}
            <div id="change-password-form">
                {{ form_row(resetForm.plainPassword) }}
            </div>
            <div id="change-password-section-button">
                <button>Reset</button>
            </div>
        {{ form_end(resetForm) }}

    </section>
{% endblock %}
