@import url(./app.css);

/* Login */

#login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 30px;
}

#login-section #login-text-container {
    width: 50%;
}

#login-text-container div {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    margin-left: -60px;

    & img {
        height: 150px;
        margin-right: -40px;
    }
}

#login-section #login-text-container h1 {
    background-image: linear-gradient(to right, var(--gradientColor1), var(--gradientColor2), var(--gradientColor3), var(--gradientColor4));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    height: fit-content;
    font-weight: bolder;
}

#login-section #login-text-container {
    font-size: 25px;
    margin-top: -25px;
}

#login-section #login-form-container {
    display: flex;
    background: var(--secondBackground);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    margin-left: 25px;
}

#login-section #login-form-container #login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
}

#login-section #login-form-container #login-form input {
    width: 100%;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 5px;
    color: #FFF;
    background: inherit;
    font-size: 16px;
    padding-left: 15px;
    box-sizing: border-box;
}

#login-section #login-form-container #login-form button {
    background: var(--principalColor);
    margin-top: 5px;
}

#login-section #login-form-container #login-form a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--principalColor);
}

#login-section #login-form-container button {
    background: var(--secondaryColor);
}

/* End Login */

/* Register */

#register-section {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 350px;
}

#register-section h1 {
    background-image: linear-gradient(to right, var(--gradientColor1), var(--gradientColor2), var(--gradientColor3), var(--gradientColor4));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    width: fit-content;
    font-weight: bolder;
    margin-bottom: 20px;
}

#register-form-container {
    background: var(--secondBackground);
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#register-form-container #register-title {
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

#register-form-container form {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

#register-form-container form input:not([type="radio"], [type="checkbox"]),
#register-form-container form select,
#registration_form_gender .form-check{
    background: inherit;
    color: #737d7d;
    border-image: initial;
    border: 2px inset #000;
    height: 50px;
}

#register-form-container form input::placeholder {
    color: #737d7d;
}

#registration_form_gender {
    display: flex;
    justify-content: space-between;
}

#registration_form_gender .form-check {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
}

#register-form-container form button {
    background: var(--principalColor);
    align-self: center;
}

#register-form-container form a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--principalColor);
    align-self: center;
    font-size: 20px;
    margin-bottom: 25px;
}

/* end register */

/* reset password */

#reset-password-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondBackground);
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    justify-self: flex-start;

    & #logo-zone {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        & img {
            height: 100%;
            margin-right: -20px;
            margin-left: -40px;
        }

        & h1 {
            height: fit-content;
            font-weight: bolder;
            background-image: linear-gradient(to right, var(--gradientColor1), var(--gradientColor2), var(--gradientColor3), var(--gradientColor4));
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & #reset-password-header-buttons {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        width: 20%;

        & button {
            margin-top: 0;

            &:first-child {
                background: var(--principalColor);
                margin-right: 10px;
            }

            &:last-child {
                background: var(--secondaryColor);
            }
        }
    }
}

#reset-password-section, #change-password-section, #check-email-section {
    width: 40%;
    background: var(--secondBackground);
    align-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;

    & h2 {
        border-bottom: 1px solid #000;
        width: 100%;
        padding: 20px;
        font-size: 25px;
        font-weight: bolder;
    }

    & form {
        & #reset-password-form, #change-password-form {
            border-bottom: 1px solid #000;
            padding: 20px;
            padding-bottom: 40px;

            & p {
                font-size: 20px;
                text-align: center;
            }

            & input {
                background: inherit;
                color: #737d7d;
                border-image: initial;
                border: 2px inset #000;
                height: 50px;

                &::placeholder {
                    color: #737d7d;
                }
            }
        }

        #reset-password-section-button, #change-password-section-button {
            display: flex;
            align-items: center;
            margin-top: 20px;
            padding-bottom: 20px;
            justify-content: flex-end;
            width: 100%;
            padding-right: 20px;

            & button {
                margin-top: 0;
                width: 40%;
                background: var(--principalColor);
            }
        }
    }
}

#check-email-section {
    padding: 10px;

    & p {
        text-align: center;

        &:first-child {
            margin-top: 10px;
        }

        & a {
            text-decoration: none;
            color: var(--principalColor);
        }
    }
}

/* change Password */




